; URxvt.font: xft:(NDS) Devil Survivor In\\-Game Font:size=7
URxvt.font: xft:NintendoDSBIOS:size=12
URxvt*background: black
URxvt*foreground: red
URxvt.internalBorder: 12
URxvt.scrollBar: false
URxvt.geometry: 75x36
