URxvt.font: xft:NintendoDSBIOS:size=12
urxvt*depth: 32
URxvt*background: rgba:0000/0000/0000/7777
URxvt*foreground: red
URxvt.internalBorder: 12
xterm*background: black
xterm*foreground: red
URxvt.scrollBar: false
